/* New CSS file */
h1{
    font-size: 65px;
}

/* Create some classes, they begin with "." */
/* ID;s begin with # */
.blue{
    color:blue;

}
.purple{
    color:#950BE2;    
}
.red{
    color: rgb(226,34,11);
}
.alignLeft{
    text-align: left;
}
.alignCenter{
    text-align: center;
}
.alignRight{
    text-align: right;
}
.white{
    color:white;
}
.blackBackground{
    background-color: black;
}