<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>J-Rose Albums</title>
<link rel="stylesheet" href="../style/styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sora&family=Mukta">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head> 

<body>
<nav class="navbar fixed-top navbar-dark navbar-expand-xl">
	<a href="#" class="navbar-brand">J-Rose Loops</a>  		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
		<div class="navbar-nav ml-auto">
			<a href="#" class="nav-item nav-link active"><i class="bi bi-music-note-list"></i><span>Albums</span></a>
			<a href="https://www.youtube.com/channel/UCDSLpOsSsqgYxcfpq0uqA4Q" class="nav-item nav-link"><i class="bi bi-youtube"></i><span>Youtube</span></a>
			<a href="https://www.instagram.com/jroseloops/?hl=en" class="nav-item nav-link"><i class="bi bi-instagram"></i><span>Instagram</span></a>
			<a href="https://open.spotify.com/artist/7rR7lcjyacW4pNYlXPaaxh" class="nav-item nav-link"><i class="bi bi-spotify"></i><span>Spotify</span></a>
			<a href="#contact" class="nav-item nav-link"><i class="bi bi-envelope-fill"></i><span>Contact</span></a>
		</div>
	</div>
</nav>
</header>
  <main role="main">
    <div class="container-center centered text-white bgimg2">
      <div class="flex-column text-center col-md-12">
            <h1>
              <br><br><br>
              J-Rose Loops
            </h1>
            <br>
            <h5>
              A passion for the human voice 
              channeled through a loop station.
              <br>
              Playful mashups, fan-favorite covers, 
              over 30 original compositions.
            </h5> 
            <br>
            <h1> Many Parts, One Voice</h1>
            <br><br>
      </div>   
    </div>
    <section class="jumbotron bg-dark">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">    
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              
              <a href="https://open.spotify.com/album/5rAUSFmN07eap87KehKi2o">
                <img src="../images/Album4.jpg" width="100%" height="100%" title="Newest Album" alt="Free your Raccoons">
              </a>
            </div>
            <div class="col-md-6 align-self-center">
              <br>
              <p class="lead text-white text-center">Recorded and released in 2022, this album is the most progressive and darkest in J-Roses catalogue. Inspired and created through psychedelics, this album delves into human consciousness, nature and the inward journey. While the previous two albums had mostly bright and upbeat songs, this album is focused around the mysteries of the universe, cosmic insights, and the connection between mind, body and soul.</p>
              <br>  
              <p>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5rAUSFmN07eap87KehKi2o?utm_source=generator&theme=0" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </p>
            </div>
          </div>
        </div> 
      </div>
    </section>
    <div class="album py-5 bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="border-color:#771e87; background-color:#771e87">
              <div class="header" style="background-color:#771e87">
                <div class="container text-center text-white text-center">
                  <h4> Waiting in the Sky</h4>
                </div>
              </div>
              <a href="https://open.spotify.com/album/684pUvSPnbNal6mhb2vup6" target="_blank">
                <img src="../images/Album1.jpg" width="100%" height="100%" title="Newest Album" alt="Free your Raccoons">
              </a>
              <div class="card-body">
                <div class="card box-shadow bg-dark">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/684pUvSPnbNal6mhb2vup6?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="border-color:#771e87; background-color:#771e87">
              <div class="header" style="background-color:#771e87">
                <div class="container text-center text-white text-center">
                  <h4> The Manual</h4>
                </div>
              </div>
              <a href="https://open.spotify.com/album/35ZCXPL17cSOeTMgMKGHMx" target="_blank">
                <img src="../images/Album2.jpg" width="100%" height="100%" title="Newest Album" alt="Free your Raccoons">
              </a>
              <div class="card-body">
                <div class="card box-shadow bg-dark">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/35ZCXPL17cSOeTMgMKGHMx?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="border-color:#771e87; background-color:#771e87">
              <div class="header" style="background-color:#771e87">
                <div class="container text-center text-white text-center">
                  <h4>Chemical X</h4>
                </div>
              </div>
              <a href="https://open.spotify.com/album/63i32JsKgZVXMVhwVYLJeF" target="_blank">
                <img src="../images/Album3.png" width="100%" height="100%" title="Newest Album" alt="Free your Raccoons">
              </a>
              <div class="card-body">
                <div class="card box-shadow bg-dark">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/63i32JsKgZVXMVhwVYLJeF?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>  
  </main>
    <!-- <div id="contact" class="container-center bgimg1 text-white">
      <div class="col-md-6">
        <h2>Contact J-Rose</h2>
        <form action="mailto:jroseloopsbooking@gmail.com" method="get" enctype="text/plain">
          <div>
            <label for="name">Name:
              <input type="text" name="name" id="name" />
            </label>
          </div>
          <div>
            <label for="email">Email:
              <input type="text" name="email" id="email" />
            </label>
          </div>
          <div>
            <label>Message:</label>
            <br />
            <textarea name="comments" rows="12" cols="35">Send your comments</textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Send" />
            <input type="reset" name="reset" value="Clear" />
        </div>
      </form>
    </div> -->
</body>