<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> -->
  
    <title>JRoseLoops Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="..//style/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
  </head>
  
  <body>
  
    <header>
      <div class="collapse" id="navbarHeader" style="background-color: #771e87;">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-white">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Keep up with me</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.instagram.com/jroseloops/?hl=en" class="text-white">Follow on Instagram</a></li>
                <li><a href="https://open.spotify.com/artist/7rR7lcjyacW4pNYlXPaaxh" class="text-white">Listen on Spotify</a></li>
                <li><a href="#" class="text-white">Watch on Youtube</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark" style="background-color: #771e87;">
        <!-- bg-dark box-shadow -->
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            
            <strong>Contact</strong>
          </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
  
    <main role="main">
      <br>
    <div class="container col-md-12">  
      <form action="mailto:info@example.com" method="get" enctype="text/plain">
        <div>
          <label for="name">Your Name:
            <input type="text" name="name" id="name" />
          </label>
        </div>
        <div>
          <label for="email">Your Email:
            <input type="text" name="email" id="email" />
          </label>
        </div>
        <div>
          <label>Your Message:</label>
          <br />
          <textarea name="comments" rows="12" cols="35">Contact me directly.</textarea>
        </div>
        <div>
          <input type="submit" name="submit" value="Send" />
          <input type="reset" name="reset" value="Clear Form" />
        </div>
      </form>
    </div>
  
    </main>
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
    <!-- <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script> -->