<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>J-Rose Loops Contact</title>
<link rel="stylesheet" href="../style/styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sora&family=Mukta">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head> 

<body>
<nav class="navbar fixed-top navbar-dark navbar-expand-xl">
	<a href="https://jroseloops.com" class="navbar-brand">J-Rose Loops</a>  		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
		<div class="navbar-nav ml-auto">
			<a href="https://open.spotify.com/artist/7rR7lcjyacW4pNYlXPaaxh" class="nav-item nav-link"><i class="bi bi-spotify"></i><span>Spotify</span></a>
			<a href="https://www.instagram.com/jroseloops/?hl=en" class="nav-item nav-link"><i class="bi bi-instagram"></i><span>Instagram</span></a>
			<a href="https://www.youtube.com/channel/UCDSLpOsSsqgYxcfpq0uqA4Q" class="nav-item nav-link"><i class="bi bi-youtube"></i><span>Youtube</span></a>
			<a href="https://jroseloops.com/templates/albums.html" class="nav-item nav-link"><i class="bi bi-music-note-list"></i><span>Albums</span></a>
			<a href="https://jroseloops.com/templates/shows.html" class="nav-item nav-link"><i class="bi bi-people-fill"></i><span>Shows</span></a>
			<a href="https://jroseloops.com/templates/contact.html" class="nav-item nav-link active"><i class="bi bi-envelope-fill"></i><span>Contact</span></a>
    </div>
	</div>
</nav>
</header>

  <main role="main">
    <br><br><br>
   
      <div class="container-center py-5 bg-dark">
        <div class="row flex-row">
          <div class="col-md-12 text-center text-white">
            <div class="card">
              <div class="card-header bg-secondary text-center"><h3>Book J-Rose Loops!</h3></div>
              <div class="card-body bg-secondary text-center">If you're interested in hiring J-Rose for any full set at an event of any kind, we would love to communicate with you! J-Rose Loops is a great addition to weddings, parties, festivals, standalone concerts and anywhere you need a fun vibe!</div>
              <div class="card-footer bg-secondary text-center">Click to copy email to your device's clipboard: <br><button role="button" onclick="copyText()" target="_blank" role="link" type="button" class="btn btn-lg btn-dark"><h5>jroseloopsbooking@gmail.com</h5></button></div>
              <script>function copyText(){
                navigator.clipboard.writeText("jroseloopsbooking@gmail.com")
              }
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="container-center bgimg5"><br><br><br><br><br><br><br><br></div>
  </main>

  <footer>
    
  </footer>
    
  
</body>